ProjectAkhir/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IIS/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceRS" />
  <xs:element name="TambahDtKaryawan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataKaryawan" nillable="true" type="q1:TambahKaryawan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtKaryawanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtKaryawanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtApoteker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataApoteker" nillable="true" type="q2:TambahApoteker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtApotekerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtApotekerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtDokter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataDokter" nillable="true" type="q3:TambahDokter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtDokterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtDokterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtPerawat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataPerawat" nillable="true" type="q4:TambahPerawat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtPerawatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtPerawatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtPasien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataPasien" nillable="true" type="q5:TambahPasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtPasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtPasienResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtRawatInap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataRawatInap" nillable="true" type="q6:TambahRI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtRawatInapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtRawatInapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtRawatJalan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataRawatJalan" nillable="true" type="q7:TambahRJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtRawatJalanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtRawatJalanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtRuangan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataRuangan" nillable="true" type="q8:TambahRuangan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtRuanganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtRuanganResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtObat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataObat" nillable="true" type="q9:TambahObat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtObatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtObatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtPemeriksaan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="DataPemeriksaan" nillable="true" type="q10:TambahPemeriksaan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahDtPemeriksaanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahDtPemeriksaanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahLK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="LoginKaryawan" nillable="true" type="q11:TambahLoginKaryawan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahLKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahLKResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="LoginDokter" nillable="true" type="q12:TambahLoginDokter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahLDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="LoginApoteker" nillable="true" type="q13:TambahLoginApoteker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahLAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahLAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="CL" nillable="true" type="q14:ClassLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceRS" minOccurs="0" name="GetDataLoginResult" nillable="true" type="q15:ClassLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>